 <div class="user-details">
  <h1> Intro </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
<i class="devicon-html5-plain-wordmark colored"></i>
<i class="devicon-css3-plain-wordmark colored"></i>

      <p>Technologies that I use for designing web pages</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
<i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
<i class="devicon-java-plain-wordmark colored"></i>

      <p>Different coding languages that I know and prefer to work upon</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>

      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-heroku-plain colored"></i>

      <p>Different tools that I have used in making projects</p>
    </div>
</div>
